.Heading{
    text-transform: uppercase;
    display: block;
    text-align: center;
    width:100%;
    padding: 3vh;
    padding-top: 5vh;
    background-color: #1ABC9C;
    height: fit-content;
}

a, a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit !important;
}

.heading1{
    font-size: 9vw;
    font-weight: 500;
    letter-spacing: 0.3vw;
    margin-bottom: 2vh;
}

.heading2{
  margin-top: 2vh;
  font-size: 5vw;
  margin-bottom: 5vh;
}

.subheading{
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 0px;
}

.container-fluid{
    padding: 0 !important;
}

.divider-custom {
    margin: 1.25vh 0 1.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: white;
    border-radius: 1vh;
    border-color: white !important;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
    color: white !important;
    font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
    color: #fff !important;
}

.divodd{
    padding: 2vh;
    height: fit-content;
    padding-bottom: 3vh;
    padding-top: 3vh;
}

.head{
  background-color: #c68c53;
  width: 100%;
  color: white;
}
.last{
    padding: 2em;
}

.txt{
  padding: 2vw;
  font-size: 2rem;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    font-family: 'Poppins',sans-serif;
}
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon{
    background: #333;
}

.wrapper .button:nth-child(2):hover .icon{
  background: #0E76A8;
}

.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}


.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}

.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

.card{
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-weight: bold;
}

.timeline {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    background: #fff;
    left: 50%;
    margin-left: -3px;
  }
  
  .Tcontainer {
    padding: 10px 40px;
    position: relative;
    width: 50%;
  }
  
  .Tcontainer::after {
    content: '';
    position: absolute;
    top: 15px;
    right: -17px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    border: 4px solid #ff9f55;
  }
  
.left {
    left: 0;
}
  
.right {
    left: 50%;
}
  
.right::after {
    left: -16px;
}
  
.left::before {
    content: '';
    height: 0px;
    width: 0px;
    position: absolute;
    top: 22px;
    right: 30px;
    border: 10px solid #fff;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
}
  
.right::before {
    content: '';
    height: 0px;
    width: 0px;
    position: absolute;
    top: 22px;
    left: 30px;
    border: 10px solid #fff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
}
  
.content {
    padding: 20px 30px;
    background: #fff;
    border-radius: 6px;
}

.footer {
    padding: 2em;
    font-size: 1.7em;
    color: white;
    background: black;
    width: 100%;
    height: auto;
}

/* Mobile version */
@media screen and (max-width: 600px) {
    .timeline::after {
      left: 31px;
    }
  
    .Tcontainer {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    .Tcontainer::before {
      left: 60px;
      border-width: 10px 10px 10px 0;
      border-color: transparent #fff transparent transparent;
    }
  
    .left::after, .right::after {
      left: 15px;
      z-index: 1;
    }
  
    .right {
      left: 0;
    }
  }

.rounded-circle{
  width: 40vh;
  max-width: 50vh;
  height: 50vh;
}

.MoreInfo{
  font-weight: lighter;
  font-style: italic;
  font-size: 0.7em;
  position: absolute;
  right: 0;
  top : 0;
}

.card-img-bottom{
  width:100%;
}

.col{
  margin-bottom: 2em;
}
.lighter{
  font-weight: lighter;
  font-style: italic;
}

.button-git {
  display: inline-block;
  border-radius: 4px;
  background-color: #333;;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-git span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-git span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-git:hover span {
  padding-right: 25px;
}

.button-git:hover span:after {
  opacity: 1;
  right: 0;
}

.button-yt {
  display: inline-block;
  border-radius: 4px;
  background-color: #e62117;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-yt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-yt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-yt:hover span {
  padding-right: 25px;
}

.button-yt:hover span:after {
  opacity: 1;
  right: 0;
}

.timeline{
  margin: 2em;
}